<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Zoo Arcadia</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Quicksand:wght@600;700&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet" />

</head>

<body>
  <!-- Topbar debut -->
  <div class="container-fluid bg-brown text-white p-0">
    <div class="row gx-0 d-none d-lg-flex">
      <div class="col-lg-7 px-5 text-start">
        <div class="h-100 d-inline-flex align-items-center py-3 me-4">
          <small class="fa fa-map-marker-alt text-primary me-2"></small>
          <small>123 Chemin des Enchanteurs - 35750 Paimpont - France</small>
        </div>
      </div>
      <div class="col-lg-5 px-5 text-end">
        <div class="h-100 d-inline-flex align-items-center py-3 me-4">
          <small class="fa fa-phone-alt text-primary me-2"></small>
          <small>01 23 45 67 89</small>
        </div>
        <div class="h-100 d-inline-flex align-items-center">
          <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar Fin -->

  <!-- Navbar Debut -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5">
    <a href="index.html" class="navbar-brand p-0">
      <img class="img-fluid me-3" src="img/icones/logo.png" alt="Logo" style="max-width: 90px; height: auto;">
      <h1 class="m-0 text-primary">Zoo Arcadia</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <a href="addUser.html" class="nav-item nav-link">Ajouter un utilisateur</a>
        <a href="horaire.html" class="nav-item nav-link">Modifier les horaires</a>
        <a href="validation.html" class="nav-item nav-link">Valider avis visiteurs</a>
        <a href="modifservices.html" class="nav-item nav-link">Modifier les services</a>
        <a href="gestionanimaux.html" class="nav-item nav-link">Gestion Habitats</a>
        <a href="dashboard.html" class="nav-item nav-link">Tableau de Bord</a>
      </div>
    </div>
  </nav>
  <!-- Navbar Fin -->

  <!-- Header debut -->
  <div class="container-fluid header-bg py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-4 text-white mb-3 animated slideInDown">Administration</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
          <li class="breadcrumb-item text-primary active" aria-current="page">Administration</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Header fin -->

  <!-- Menu debut -->
  <div class="container content">
    <div class="row justify-content-center align-items-center min-vh-50">
      <div class="col-md-6">
        <div class="list-group text-center">
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-3 text-white"
            onclick="window.location.href='/addUser'">Ajouter un utilisateur</button>
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-3 text-white"
            onclick="window.location.href='/horaire'">Modifier les horaires du Zoo</button>
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-3 text-white"
            onclick="window.location.href='/validation'">Valider avis visiteurs</button>
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-3 text-white"
            onclick="window.location.href='/modifservices'">Modifier les services</button>
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-3 text-white"
            onclick="window.location.href='/gestionanimaux'">Gestion des Habitats</button>
          <button type="button"
            class="list-group-item list-group-item-action btn btn-success rounded-pill mb-5 text-white"
            onclick="window.location.href='/dashboard'">Tableau de Bord Consultations</button>
            <a href="/logout" class="btn btn-secondary rounded-pill mb-5">
              Déconnexion<i class="fa fa-unlock ms-3"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu fin -->

  <!-- Footer Debut -->
  <footer class="bg-brown text-white py-4">
    <div class="container text-center">
      <p class="mb-0">© 2024 Zoo Arcadia. Tous droits réservés.</p>
    </div>
  </footer>
  <!-- Footer Fin -->

  <!-- Inclure Bootstrap JS et les dépendances si nécessaire -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
